<form class="form-inline" role="form" name="searchFormValidation" novalidate="">
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="餐厅名称" ng-model="searchForm.name"
                       id="title">
            </div>
        </div>
        <!--<div class="col-xs-2">-->
        <!--<button type="submit" class="btn btn-primary">查询</button>-->
        <!--</div>-->
    </div>
</form>
<hr/>
<div class="panel panel-info">
    <div class="panel-heading text-center">
        <label>餐厅列表</label></div>
    <div class="panel-body restaurant-list">
        <div class="restaurant-table-container" x-table-scroll td="3" tr="2">
            <table class="table table-bordered table-hover ">
                <thead>
                <tr class="center">
                    <td colspan="2"></td>
                    <td colspan="11">餐厅公开信息</td>
                    <td colspan="4">注册信息</td>
                </tr>
                <tr class="text no-scroll">
                    <td style="min-width: 200px;" class="operate">操作</td>
                    <td style="min-width: 60px;" class="order">序号</td>
                    <td style="min-width: 160px;" class="name">餐厅名称</td>
                    <td style="min-width: 60px;">餐厅图标</td>
                    <td style="min-width: 60px;">餐厅介绍图片</td>
                    <td style="min-width: 180px;">餐厅描述</td>
                    <td style="min-width: 60px;">电话</td>
                    <td style="min-width: 60px;">邮件</td>
                    <td style="min-width: 60px;">网址</td>
                    <td style="min-width: 160px;">地址</td>
                    <td style="min-width: 120px;">市</td>
                    <td style="min-width: 60px;">省</td>
                    <td style="min-width: 60px;">邮编</td>
                    <td style="min-width: 100px;">法人代表</td>
                    <td style="min-width: 120px;">法人代表电话</td>
                    <td style="min-width: 100px;">负责人</td>
                    <td style="min-width: 120px;">负责人电话</td>
                    <!--<td>营业执照图片</td>-->
                    <!--<td>注册日期</td>-->

                </tr>
                </thead>
                <!--x-drag-sort="data-drag-id" x-drag-completed="sortRestaurant"-->
                <tbody>
                <!--<tr ng-show="getRestaurantListStatus===REQUEST_STATUS.REQUESTING">-->
                <!--<td colspan="10" class="text-center table-hint">努力加载中...</td>-->
                <!--</tr>-->
                <!--<tr ng-show="getRestaurantListStatus===REQUEST_STATUS.REQUEST_SUCCESSED&&searchResult.restaurantList.length==0">-->
                <!--<td colspan="10" class="text-center table-hint">查询结果为空</td>-->
                <!--</tr>-->
                <!--<tr ng-show="getRestaurantListStatus===REQUEST_STATUS.REQUEST_FAILED">-->
                <!--<td colspan="10" class="text-center table-hint">查询失败，请重新加载</td>-->
                <!--</tr>-->
                <tr ng-repeat="restaurant in restaurantList|filter:searchForm:strict" class="no-scroll">
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a type="button" class="btn btn-default"
                               ng-href="#/restaurant/restaurant-add/{{restaurant.restaurantId}}">编辑
                            </a>
                            <!--<a type="button" class="btn btn-default">重置密码-->
                            <!--</a>-->
                            <a type="button" class="btn btn-default" data-toggle="modal"
                               data-target="#user-list-modal" ng-click="selectRestaurant(restaurant)">指派餐厅管理员
                            </a>
                            <a type="button" class="btn btn-default"
                               ng-click="deleteRestaurant(restaurant.restaurantId)"
                               x-confirm-hint
                               x-modal-title="删除餐厅"
                               x-modal-content="确认删除“{{restaurant.name}}”吗？">
                                删除
                            </a>
                        </div>
                    </td>
                    <td>{{$index+1}}</td>
                    <td><span x-tooltip="10" data-original-title="{{restaurant.name}}">{{restaurant.name}}</span></td>
                    <td><img ng-src="{{restaurant.imageLinkThumbnail}}" x-view-img/></td>
                    <td><img ng-src="{{restaurant.imageLinkPoster}}" x-view-img/></td>
                    <!--<td><img ng-src="{{restaurant.imageLinkPoster}}" x-view-img/></td>-->
                    <td><span x-tooltip="10" data-original-title="{{restaurant.restaurantDescription}}">{{restaurant.restaurantDescription}}</span>
                    </td>
                    <td>{{restaurant.phone.phone}}</td>
                    <td>{{restaurant.email}}</td>
                    <td><span x-tooltip="30" data-original-title="{{restaurant.website}}">{{restaurant.website}}</span>
                    </td>
                    <td><span x-tooltip="10" data-original-title="{{restaurant.address.street}}">{{restaurant.address.street}}</span>
                    </td>
                    <td><span x-tooltip="10" data-original-title="{{restaurant.address.city}}">{{restaurant.address.city}}</span>
                    </td>
                    <td>{{restaurant.address.state}}</td>
                    <td>{{restaurant.address.zipcode}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer" ng-show="searchResult.restaurantList.length!=0">
        <div style="position: relative;height: 70px;">
            <x-pagination style="position: absolute;right: 20px;" x-pagination-scope="paginationScope">
            </x-pagination>

        </div>
    </div>
</div>
</div>
<div class="modal fade" x-delete-modal id="user-list-modal" tabindex="-1" role="dialog"
     aria-hidden="true" ng-show="showUserList">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">用户列表</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <tr class="center" ng-show="!assignedUser.userId" ng-class="{'danger':wantAssign}">
                        <td>请选择一个用户</td>
                    </tr>
                    <tr ng-repeat="user in userList" ng-class="{'success':user.userId===assignedUser.userId}"
                        ng-click="selectUser(user)">
                        <td>{{user.userId}}</td>
                        <!--<td>{{user.phone}}</td>-->
                        <!--<td>{{user.email}}</td>-->
                        <!--<td>{{user.name}}</td>-->
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="assignUser()"> 确定
                </button>
            </div>
        </div>
    </div>
</div>
