<!--<form class="form-inline" role="form" name="searchRestaurantFormValidation"-->
<!--ng-submit="search()">-->
<!--<div class="row">-->
<!--<div class="col-xs-5">-->
<!--<div class="form-group"-->
<!--ng-class="{'has-error':searchRestaurantFormValidation.status.$invalid&&submitted,'has-success':searchRestaurantFormValidation.status.$valid&&submitted}">-->
<!--<label class="control-label" for="status">专题状态&nbsp;</label>-->
<!--&lt;!&ndash;<input type="date" class="form-control" id="date" placeholder="选择查看日期">&ndash;&gt;-->
<!--<select class="form-control" name="status" ng-model="searchForm.status"-->
<!--id="status">-->
<!--<option value="">全部</option>-->
<!--<option value="4">等待发布</option>-->
<!--<option value="1">发布中</option>-->
<!--<option value="3">草稿</option>-->
<!--&lt;!&ndash;<option value="4">草稿</option>&ndash;&gt;-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-5">-->
<!--<div class="form-group">-->
<!--<label for="title">专题名称&nbsp;</label>-->
<!--<input type="text" class="form-control" placeholder="专题名称" ng-model="searchForm.title" id="title">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-2">-->
<!--<button type="submit" class="btn btn-primary">查询</button>-->
<!--<a class="btn btn-primary" ng-click="importRestaurant()" ng-disabled="loading"><span-->
<!--ng-show="!loading">导入</span> <span-->
<!--ng-show="loading">导入中...</span></a>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<hr/>
<div class="panel panel-info">
    <div class="panel-heading text-center">
        <label>餐厅列表</label></div>
    <!--<span ng-show="restaurantList.length!=0">（{{boutique.status}}）</span>-->
    <div class="panel-body restaurant-list">
        <div class="restaurant-table-container" x-table-scroll td="3">
            <table class="table table-bordered table-hover ">
                <thead>
                <tr class="center">
                    <td colspan="2"></td>
                    <td colspan="11">餐厅公开信息</td>
                    <td colspan="4">注册信息</td>
                </tr>
                <tr class="text no-scroll">
                    <td style="min-width: 200px;">操作</td>
                    <td style="min-width: 60px;">序号</td>
                    <td style="min-width: 60px;">餐厅名称</td>
                    <td style="min-width: 60px;">餐厅图标</td>
                    <td style="min-width: 60px;">餐厅介绍图片</td>
                    <td style="min-width: 60px;">餐厅描述</td>
                    <td style="min-width: 60px;">电话</td>
                    <td style="min-width: 60px;">邮件</td>
                    <td style="min-width: 60px;">网址</td>
                    <td style="min-width: 150px;">地址</td>
                    <td style="min-width: 60px;">市</td>
                    <td style="min-width: 60px;">省</td>
                    <td style="min-width: 60px;">邮编</td>
                    <td style="min-width: 60px;">法人代表</td>
                    <td style="min-width: 60px;">法人代表电话</td>
                    <td style="min-width: 60px;">负责人</td>
                    <td style="min-width: 60px;">负责人电话</td>
                    <!--<td>营业执照图片</td>-->
                    <!--<td>注册日期</td>-->

                </tr>
                </thead>
                <!--x-drag-sort="data-drag-id" x-drag-completed="sortRestaurant"-->
                <tbody>
                <!--<tr ng-show="getRestaurantListStatus===REQUEST_STATUS.REQUESTING">-->
                <!--<td colspan="10" class="text-center table-hint">努力加载中...</td>-->
                <!--</tr>-->
                <!--<tr ng-show="getRestaurantListStatus===REQUEST_STATUS.REQUEST_SUCCESSED&&searchResult.restaurantList.length==0">-->
                <!--<td colspan="10" class="text-center table-hint">查询结果为空</td>-->
                <!--</tr>-->
                <!--<tr ng-show="getRestaurantListStatus===REQUEST_STATUS.REQUEST_FAILED">-->
                <!--<td colspan="10" class="text-center table-hint">查询失败，请重新加载</td>-->
                <!--</tr>-->
                <tr ng-repeat="restaurant in restaurantList" class="no-scroll">
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a type="button" class="btn btn-default"
                               ng-href="#/restaurant/restaurant-add/{{restaurant.restaurantId}}">编辑
                            </a>
                            <a type="button" class="btn btn-default"
                                    >重置密码
                            </a>
                            <a type="button" class="btn btn-default"
                               ng-click="deleteRestaurant(restaurant.id)"
                               x-confirm-hint
                               x-modal-title="删除餐厅"
                               x-modal-content="确认删除吗？">
                                删除
                            </a>
                        </div>
                    </td>
                    <td>{{$index+1}}</td>
                    <td>{{restaurant.name}}</td>
                    <td><img ng-src="{{restaurant.imageLinkThumbnail}}" x-view-img/></td>
                    <td><img ng-src="{{restaurant.imageLinkPoster}}" x-view-img/></td>
                    <!--<td><img ng-src="{{restaurant.imageLinkPoster}}" x-view-img/></td>-->
                    <td>{{restaurant.restaurantDescription}}</td>
                    <td>{{restaurant.phone.phone}}</td>
                    <td>{{restaurant.email}}</td>
                    <td>{{restaurant.website}}</td>
                    <td>{{restaurant.address.street}}</td>
                    <td>{{restaurant.address.city}}</td>
                    <td>{{restaurant.address.state}}</td>
                    <td>{{restaurant.address.zipcode}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer" ng-show="searchResult.restaurantList.length!=0">
        <div style="position: relative;height: 70px;">
            <x-pagination style="position: absolute;right: 20px;" x-pagination-scope="paginationScope">
            </x-pagination>

        </div>
    </div>
</div>
</div>