/**跨系统*/
.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*本系统*/
.alert {
    z-index: 10;
}

[ng-view] table {
    table-layout: fixed;
}

[ng-view] table td {
    word-wrap: break-word;
}

a.thumbnail.active {
    border-width: 4px;
}

a {
    cursor: pointer;
}

.panel-heading .btn-group {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
}

.panel-heading, .panel-body {
    position: relative;
}

.table-hint {
    font-size: 18px;
    font-weight: 700;
}

img.preview {
    max-width: 80px;
    max-height: 60px;
}

.restaurant-list img[x-view-img] {
    max-width: 60px;
}

table thead td {
    font-weight: bold;
}

.restaurant-list table, .user-list table {
    table-layout: auto;
}

.restaurant-table-container,.user-table-container{
    overflow-y: auto;
    max-height: 600px;
}

td.vertical-fix, td.horizontal-fix {
    background: white;
    border: 0 !important;
    box-shadow: 0 0 1px;
}

[ng-view] table thead td {
    position: relative;
    z-index: 100;
}

.restaurant-list td.operate, .restaurant-list td.order, .restaurant-list td.name {
    z-index: 200;
}
